
<script type="text/javascript">
function setTab(m,n){
  var menu=document.getElementById("tab"+m).getElementsByTagName("li");
  var showdiv=document.getElementById("tablist"+m).getElementsByTagName("div");
  for(i=0;i<menu.length;i++)
  {
    menu[i].className=i==n?"now":"";
    showdiv[i].style.display=i==n?"block":"none";
  }
}
$(document).ready(function(){
  setTab(1,0)
  setTab(2,0)
  setTab(3,0)
});
</script>

<%
	homepage =  Page.find_by_name("home")
	homepage_sidebar =  Page.get_system_page(Page::NAME_HOMEPAGE_SIDEBAR)
	homepage_subpages = homepage.pages.display_in_menu.published.in_order
#	show_sidebar = homepage_subpages.size > 0 || @setting[:section_items] || !homepage_sidebar.content.blank?
    show_sidebar = false
%>
  <% if show_sidebar %>
	<%= content_tag :div, :id => "side" do %>
      <%= render :partial => "pages/menu_for_page", :locals => {:page => homepage, :subpages => homepage_subpages} if homepage_subpages.size > 0 %>
      <% if @setting[:section_items] %>
        <% plugins = Plugin.enabled %>
        <% for plugin in plugins %>
          <%= render :partial => plugin.partial_path(:type => "home"), :locals => {:plugin => plugin } rescue nil %>
        <% end %>
        <% if @setting[:homepage_type] != "categories" %>
          <div class="box_1" id="category_menu" >
            <%= render :partial => "items/category_menu", :locals => {:options => {:category => @category}} %>
          </div>
          <%= show_page Page.get_system_page(Page::NAME_CATEGORY_COLUMN) %>
        <% end %>
        <% if Setting.get_setting_bool("display_popular_items") %>
          <div class="box_1">
            <%= render :partial => "items/popular_items" %>
          </div>
        <% end %>
        <% if Setting.get_setting_bool("display_featured_items") %>
          <div class="box_1">
            <%= render :partial => "items/featured_items" %>
          </div>
        <% end %>
      <% end %>
      <% render homepage_sidebar if homepage_sidebar %>
	<% end %>
  <% end %>
  <!- show_sidebar ends -->

  <%# content_tag :div, :id => (show_sidebar ? "main" : nil) do  %>
  <%# content_tag :div, :id => (show_sidebar ? "main" : nil) do  %>
  <div class="view">
    <div class="view_left">
      <div id="content2">
    <%= render :file => "browse/slider" %>
      </div>
    </div>
    <div class="view_right">
      <div id="header_icon_module">
        <ul>
          <% (1..4).each do |i| %>
          <li>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tbody><tr>
                <td width="30%"><%= image_tag "function#{i}.jpg", :style=> "width:50px; height:50px" %></td>
                <td width="70%"><%= "Function: #{i}" %></td>
              </tr>
            </tbody></table>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%# render homepage if homepage %>

    <!-- now should render the products -->
    <div id="items_for_all" style="height:auto; width: 100%">
    <!-- items by age -->
      <%= render :partial => "items/with_5_items_in_1_row",
        :locals => { :title => "By Age", :tab_index => 1 } %>
    <!-- items by like & dislike -->
      <%= render :partial => "items/with_5_items_in_1_row",
        :locals => { :title => "By List&Dislike", :tab_index => 2 } %>
    <!-- items by popular-->
      <%= render :partial => "items/with_5_items_in_1_row",
        :locals => { :title => "By Popular", :tab_index => 3 } %>

    <!-- items to be REMOVED -->
    <% if false #  @setting[:homepage_type] == "new_items" && @setting[:section_items] %>
      <!-- rendered homepage_new_items -->
      <%= render :partial => "browse/homepage_new_items" %>
    <% elsif false # @setting[:homepage_type] == "categories" && @setting[:section_items] %>
      <!-- rendere homepage_categories -->
      <%= render :partial => "browse/homepage_categories" %>
    <% else %>
      <!-- rendered nothing -->
      <%# Display nothing %>
    <% end %>
    <!-- items_for_all ends -->
    </div>
  </div>

