<div id="tablist<%= tab_index %>">
  <%= render :partial => 'items/one_tab_with_5_items' %>
  <%= render :partial => 'items/one_tab_with_5_items' %>
  <%= render :partial => 'items/one_tab_with_5_items' %>
  <%= render :partial => 'items/one_tab_with_5_items' %>
</div>
